{% extends 'base.html' %} {%block title %} {{kategori_isim}} {% endblock %} {%
block content %} {% for yazi in yazilar %}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ yazi.resim.url }}" class="img-responsive" "fluid
      rounded-start" alt="..." />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ yazi.baslik }}</h5>
        <p class="card-text">{{ yazi.icerik|safe|truncatechars_html:150 }}</p>
        <p class="card-text">
          <small class="text-muted"
            >Once paylasildi : {{ yazi.duzenlenme_tarihi|timesince }}</small
          >
        </p>
      </div>
    </div>
  </div>
</div>
{% empty %}
<p>Yazi bulunamadi</p>

{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if yazilar.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?sayfa={{yazilar.previous_page_number}}"
        >Before Page</a
      >
    </li>

    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">Before</a>
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="#">{{yazilar.number}}</a>
    </li>

    {% if yazilar.has_next %}
    <li class="page-item">
      <a class="page-link" href="?sayfa={{yazilar.next_page_number}}"
        >{{yazilar.next_page_number}}</a
      >
    </li>
    <li class="page-item">
      <a class="page-link" href="?sayfa={{yazilar.pagination.num_pages}}"
        >Last Page</a
      >
    </li>
    {% endif %}
  </ul>
</nav>

{ % endblock %}
