<div class="col-sm-3">
  <div class="card bg-danger mb-3">
    <div class="card-header">Menu</div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{% url 'profil-guncelle' %}">Profile edit</a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'sifre-degistir' %}">Change password</a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'yazi-ekle' %}">Create a new story</a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'cikis' %}"> Log out </a>
      </li>
      <a href="{% url 'yazilarim' %}" class="btn btn-primary">
        <li class="list-group-item">My Stories</li>
      </a>
    </ul>
  </div>
</div>
