<div class="col-sm-3">
  <div class="card bg-danger mb-3">
    <div class="card-header">Menu</div>
    {% if request.user.is_authenticated %}

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Profile edit</li>
      <li class="list-group-item">Change password</li>
      <li class="list-group-item">
        <a href="{% url 'yazi-ekle' %}">Create a new story</a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'cikis' %}"> Log out </a>
      </li>
      <a href="{% url 'yazilarim' %}" class="btn btn-primary">
        <li class="list-group-item">My Stories</li>
      </a>
    </ul>

    {% else %}
    <p>Log in to your account</p>

    {% endif %}
  </div>
</div>
